/* Mediaquery for mobile */
@media (min-width:480px) {
  #respuesta{
    zoom: 2;
  }
  #navBar{
    zoom: 1.5;
  }
  a.my-button{
    zoom: 2.3;
  }
  #alerta {
    height: 22rem;
    width: 45rem;
    font-size: 50px;
    margin: 20% 13%;
  }
  #inputAlerta{
    margin: 2em;
    width: 89%;
    font-size: 40px;
    height: 100%;
  }
}
/* Mediaquery for PC */
@media (min-width:1281px) {
  #respuesta{
    zoom: 0;
  }
  #navBar{
    zoom: 0;
  }
  a.my-button{
    zoom: 0;
  }
  #alerta{
    margin: 10% 24%;
  }
  #inputAlerta{
    margin: 7em;
    width: 88%;
    font-size: 20px;
  }
}

/* Tema negro */
@media (prefers-color-scheme: dark) {

  #mensajeIso, #codigo1, #codigo2, #cuatrillave, #tarjeta, #nombreComercio, #numeroComercio, #monto, #fecha, #hora1, #hora2, #folio {
    background: #262627;
    color: rgb(255, 255, 255);
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(50%);
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(50%);
  }

  ::-webkit-input-placeholder{
    color: rgb(97, 94, 94);
  }

  #alerta{
    background-color: rgba(99, 98, 98, 0.5);
  }
  #inputAlerta{
    background-color: #262627;
    color: white;
  }
  ::-webkit-scrollbar {
    width: 10px;
    background: linear-gradient(to right, #196bca, #6433e0);
    background-color: #196bca;
    border-radius: 10px;
  }
  .my-button:hover {
    background-color: ghostwhite;
    color: #000000;
  }
}
/* Tema blanco */
@media (prefers-color-scheme: light) {
  
  #alerta{
    background-color: rgb(237 237 237 / 50%);
  }
  ::-webkit-scrollbar {
    width: 10px;
    background: linear-gradient(to right, #196bca, #6433e0);
    background-color: #196bca;
    border-radius: 10px;
  }
  .my-button:hover {
    background-color: #000000;
    color: ghostwhite;
  }
}

.my-button {
  background-color: #1f1f1f;
  color: #fff;
  font-family: Lucida Console;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
}

.my-button:active {
  transform: scale(0.95);
}
.txtarea {
  width: 99%;
  height: 197px;
  padding: 7px;
  font-size: 16px;
  border-width: 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: hidden;
  border-radius: 10px;
  text-align: left;
  text-size-adjust: none;
  text-align-last: left;
  box-shadow: 0px 0px 2px rgba(66, 66, 66, 0.88);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0);
}
.css-input:focus {
  outline: none;
}
#respuesta, #iso05{
  text-align-last: center;
}
.txtinput{
  padding: 7px;
  font-size: 16px;
  border-width: 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(66, 66, 66, 0.88);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0);
}

#comparador{
  display: none;
  vertical-align: super;
  text-decoration: none;
}
.custom-file-upload {
  /* Set background with vertical gradient from blue to purple */
  background: linear-gradient(to right, #196bca, #6433e0);
  background-color: #196bca;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  font-family: Lucida Console bold;
  font-weight: bold;
}
.custom-file-upload:hover {
  background: linear-gradient(to right, #5482d0, #7d5ee3);
  background-color: #5482d0;
  cursor: pointer;
}
/* On hover navBar, show the child named Analizador */
section:hover #comparador {
  display: inline;
}
#githubLogo{
  width: 40px;
  height: 40px;
  margin: 0px 0px -4px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px solid #000;
  border-radius: 0px;
  display: inline-block;
}
#afGithub{
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  vertical-align: super;
}
#alerta{
  display: none;
  border-radius: 50px;
  text-align: center;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  position: absolute;
  text-align-last: center;
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
#alertaTexto{
  width: 93%;
  margin: 1.5em auto;
  font-family: Lucida Console;
  font-size: 48px;
}
#inputAlerta{
  border: transparent;
  background: transparent;
  resize: none;
  border-radius: 50px;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#botonCopiar{
  display: none;
  font-size: 20px;
}
#analizarButton{
  font-size: 25px;
}