/* Mediaquery for mobile */
@media (min-width:480px) {
  #respuesta{
    zoom: 2;
  }
  #navBar{
    zoom: 1.5;
  }
  a.my-button{
    zoom: 2.3;
  }
  #alerta {
    height: 22rem;
    width: 45rem;
    font-size: 50px;
    margin: 20% 13%;
  }
}
/* Mediaquery for PC */
@media (min-width:1281px) {
  #respuesta{
    zoom: 0;
  }
  #navBar{
    zoom: 0;
  }
  a.my-button{
    zoom: 0;
  }
  #alerta{
    margin: 10% 24%;
  }
}

html {
  background-color: ghostwhite;
}

a.my-button {
  background: linear-gradient(to right, #196bca, #6433e0);
  background-color: #196bca;
  color: #fff;
  font-family: Lucida Console;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
}
a.my-button:hover {
  background: linear-gradient(to right, #5482d0, #7d5ee3);
  background-color: #5482d0;
}
a.my-button:active {
  transform: scale(0.95);
}

.txtarea {
  width: 99%;
  height: 197px;
  padding: 7px;
  font-size: 16px;
  border-width: 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: hidden;
  border-radius: 0px;
  text-align: left;
    text-size-adjust: none;
    text-align-last: left;
  box-shadow: 0px 0px 2px rgba(66, 66, 66, 0.88);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0);
}
.css-input:focus {
  outline: none;
}
#respuesta, #iso05{
  text-align-last: center;
}
.txtinput{
  padding: 7px;
  font-size: 16px;
  border-width: 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: hidden;
  border-radius: 0px;
  box-shadow: 0px 0px 2px rgba(66, 66, 66, 0.88);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0);
}
#numeroComercio{
  width: 80px;
}
#navBar{
  /* Translucid navBar with horizontal gradient blue and purple. */
  background: linear-gradient(to right, #196bca, #6433e0);
  background-color: #196bca;
  color: #fff;
  font-family: Lucida Console;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
}
#githubLogo{
  width: 40px;
  height: 40px;
  margin: 0px 0px -4px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px solid #000;
  border-radius: 0px;
  display: inline-block;
}
#afGithub{
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  vertical-align: super;
}
#alerta{
  display: none;
  border-radius: 50px;
  text-align: center;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  position: absolute;
  text-align-last: center;
  z-index: 1;
  background-color: rgb(237 237 237 / 50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
#alertaTexto{
  width: 93%;
  margin: 1.5em auto;
  font-family: Lucida Console;
  font-size: 48px;
}